@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #4093ff 21.43%,
    #2043dd 50.63%,
    rgb(7, 21, 212) 100%,
    #11088d 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(26, 133, 255, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #263981 21.43%,
    #0a4bd6 50.63%,
    #112f83 100%,
    #1d1ace 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #4093ff 21.43%,
    #2043dd 50.63%,
    rgb(7, 21, 212) 100%,
    #11088d 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#2f95d4] to-[#deeefc] font-bold font-primary hover:from-[#deeefc] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
